//
   Created by Karoly Szabo on 8/21/15.
extends ../partials/template
block title
  title @lang('messages.notfound')
block content
  h1 @lang('messages.notfound')
  h2 @lang('messages.funny404')
  a(href="{{ route('welcome') }}") @lang('messages.pleaseback')
