doctype html
html
  head
    title= "Be right Back"
    link(href!='//fonts.googleapis.com/css?family=Lato:100', rel='stylesheet', type='text/css')
    link(href!='{{ URL::asset("assets/sass/app.scss") }}', rel='stylesheet')
  body
    div.container
      div.content
        div.title= "Be right Back."
