include ../partials/mixins
+extends('admin/partials/template')

+section('title')
  title @lang('admin.dashboard.head')

+section('breadcrumbs')
  ol.breadcrumb
    li.active
      a(href='#')
        i.fa.fa-dashboard
        | @lang('admin.dashboard.head')

+section('inner-title')
  h1 @lang('admin.dashboard.head')
    small @lang('admin.dashboard.head')

+section('content')
  p @lang('admin.dashboard.head')