include ../partials/mixins
+extends('admin/partials/template')

+section('title')
  title @lang('admin.dashboard.head')

+section('breadcrumbs')
  ol.breadcrumb
    li.active
      a(href='#')
        i.fa.fa-dashboard
        | @lang('admin.dashboard.head')

+section('inner-title')
  h1 @lang('admin.dashboard.head')
    small @lang('admin.dashboard.head')

+section('content')
  p @lang('admin.dashboard.head')
  .row
    .col-md-6
      .box.box-primary
        .box-header.with-border
          h3.box-title {{ $title }}
        + php("Form::open(['method' => 'POST','data-toggle' => 'validator', 'role' => 'form', 'class' => ''])", "Form::close()")
          .box-body
            .form-group
              + php("Form::label('acl[]', trans('admin.dashboard.contexts'), ['class' => ''])")
              + php("Form::select('acl[]', $options, $selected, ['required', 'multiple' => true, 'class' => 'form-control select2'])")
          .box-footer
            button.btn.btn-primary(type='submit') @lang('admin.actions.save')