extends ../partials/template
block title
  title @lang('admin.contexts.head')

block breadcrumbs
  ol.breadcrumb
    li
      a(href='/admin/dashboard')
        i.fa.fa-dashboard
        | @lang('admin.dashboard.head')
    li.active
      | @lang('admin.contexts.head')
block inner-title
  h1 @lang('admin.contexts.head')
    small @lang('admin.contexts.head')
block content
  .row
    .col-xs-12
      .box
        .box-header
          a.btn.btn-primary(href="{{action('ContextController@create')}}")
            h3.box-title @lang('admin.actions.create')
          include ../partials/index/search
        include ../partials/index/table
      + php("$data->render()")

