extends ../partials/template
block title
  title @lang('admin.'.$table->name.'.head')

block breadcrumbs
  ol.breadcrumb
    li
      a(href='/admin/dashboard')
        i.fa.fa-dashboard
        | @lang('admin.dashboard.head')
    li.active
      | @lang('admin.'.$table->name.'.head')

block inner-title
  h1 @lang('admin.'.$table->name.'.head')
    small @lang('admin.'.$table->name.'.head')

block content
  .row
    + php("Form::model($user, ['route' => (isset($id) ? ['admin.'.$table->name.'.update', $id] : ['admin.'.$table->name.'.store']), 'method' => (isset($id) ? 'PUT' : 'POST'),'data-toggle' => 'validator', 'role' => 'form', 'class' => '', 'id' => $table->name])", "Form::close()")
      .col-md-6
        .box.box-primary
          .box-header.with-border
            h3.box-title {{ $title }} - {{ trans("admin.users.levels.$user->level") }}
          .box-body
            .form-group
              + php("Form::label('name', trans('admin.'.$table->name.'.form.name'), ['class' => ''])")
              + php("Form::text('name', Input::old('name'), ['required', 'class'=>'form-control', 'placeholder'=>trans('admin.'.$table->name.'.form.name')])")
            .form-group
              + php("Form::label('email', trans('admin.'.$table->name.'.form.email'), ['class' => ''])")
              + php("Form::text('email', Input::old('email'), ['required', 'class'=>'form-control', 'placeholder'=>trans('admin.'.$table->name.'.form.email')])")
            + if("isset($id)")
              + php("Form::hidden('id', $id)")
              +else
                .form-group
                  + php("Form::label('password', trans('admin.'.$table->name.'.form.password'), ['class' => ''])")
                  + php("Form::text('password', Input::old('password'), ['required', 'class'=>'form-control', 'placeholder'=>trans('admin.'.$table->name.'.form.password')])")
            .form-group
              + php("Form::label('context_id', trans('admin.'.$table->name.'.form.context'), ['class' => ''])")
              + php('Form::select("context_id", $contexts, Input::old("context_id"), ["id" => "context_id", "class"=>"form-control", "placeholder"=>trans("admin.$table->name.form.role")])')
          // /.box-body
          .box-footer
            button.btn.btn-primary(type='submit') @lang('admin.actions.save')
      .col-md-6
        .box.box-default
          .box-header.with-border
            h3.box-title @lang('admin.'.$table->name.'.permission')
          #permissions.box-body
            + php('Form::select("roles", $roles, null, ["id" => "roles", "class"=> "form-control hidden", "placeholder"=>trans("admin.$table->name.form.role")])')
            + foreach('$permissions','$role_id', '$context_id', '$i')
              .row.permission.form-group
                .col-md-5
                  + php("Form::label('permission[$context_id][role_id]', $contexts[$context_id], ['class' => ''])")
                .col-md-5
                  + php('Form::select("permission[$context_id][role_id]", $roles, $role_id, ["required", "class"=>"form-control", "placeholder"=>trans("admin.$table->name.form.role")])')
                .col-md-2
                  a.btn.btn-sm.remove-permission(data-value!="{{ $context_id }}")
                    span.glyphicon.glyphicon-trash

