include ../../../partials/mixins
.box-body.table-responsive.no-padding
  table.table.table-hover
    tr
      + foreach('$table->columns','$c')
        th {{ $c }}
      th
    + foreach('$data','$d')
      +statement('can', "'index', $d")
        tr
          + foreach('$table->columns','$c', '$key', '$i')
            td
              + if("isset($table->modifiers) && isset($table->modifiers[$key]) ")
                span.label(class!="{{ 'label-'.$d->{$table->modifiers[$key]} }}") {{ $d->$key }}
                +else
                  | {{ $d->$key }}
          td
            +statement('can', "'edit', $d")
              a(href!='{{ action("$table->controller@edit", array_merge(["id" => $d->id], (isset($table->contentable_type) ? ["contentable_type" => $table->contentable_type]: []))) }}')
                span.glyphicon.glyphicon-edit
            +statement('can', "'show', $d")
              a(href!='{{ action("$table->controller@show", array_merge(["id" => $d->id], (isset($table->contentable_type) ? ["contentable_type" => $table->contentable_type]: []))) }}')
                span.glyphicon.glyphicon-search