extends ../partials/template

block title
  title @lang('press.register')

block content
  h1 @lang('press.register')
  + php ( "Form::open(array('route' => 'press-store', 'class' => 'form'))", "Form::close()" )
    fieldset
      legend @lang('press.contact.head')
      .form-group
        + php("Form::label(trans('press.contact.name'))")
        + php("Form::text('ANA_NOME', Input::old('ANA_NOME'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.contact.name')))")
      .form-group
        + php("Form::label(trans('press.contact.surname'))")
        + php("Form::text('ANA_COGNOME', Input::old('ANA_COGNOME'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.contact.surname')))")
      .form-group
        + php("Form::label(trans('press.contact.email'))")
        + php("Form::email('ANA_EMAIL', Input::old('ANA_EMAIL'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.contact.email')))")
      .form-group
        + php("Form::label(trans('press.contact.mobile'))")
        + php("Form::text('ANA_CELLULARE', Input::old('ANA_CELLULARE'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.contact.mobile')))")
      .form-group
        + php("Form::label(trans('press.contact.qualification'))")
        + php("Form::select('ANA_QUALIFICATESTO', $qualifications, Input::old('ANA_QUALIFICATESTO'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.select.qualification')))")
      .form-group
        + php("Form::label(trans('press.contact.workfor'))")
        + php("Form::select('DW_UTILITY', $workfor, Input::old('DW_UTILITY'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.select.workfor')))")
      .form-group
        + php("Form::label(trans('press.contact.twitter'))")
        + php("Form::text('ANA_TWITTER_ACCOUNT', null, array('required', 'class'=>'form-control', 'placeholder'=>trans('press.contact.twitter')))")

    fieldset
      legend @lang('press.newspaper.head')
      .form-group
        + php("Form::label(trans('press.newspaper.name'))")
        + php("Form::text('AS_NOME_TESTATA', Input::old('AS_NOME_TESTATA'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.newspaper.name')))")
      .form-group
        + php("Form::label(trans('press.newspaper.address'))")
        + php("Form::text('AS_ADDRESS', Input::old('AS_ADDRESS'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.newspaper.address')))")
      strong @lang('press.newspaper.first')
      .form-group
        + php("Form::label(trans('press.newspaper.nationality'))")
        + php("Form::select('AS_COUNTRY', $nations, Input::old('ANA_QUALIFICATESTO'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.select.nationality')))")
      .form-group
        + php("Form::label(trans('press.newspaper.schedule'))")
        + php("Form::select('AS_PERIODICITA', $schedule, Input::old('DW_UTILITY'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.select.schedule')))")

      .form-group
        + php("Form::label(trans('press.newspaper.email'))")
        + php("Form::email('AS_EMAIL', Input::old('AS_EMAIL'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.newspaper.email')))")
      .form-group
        + php("Form::label(trans('press.newspaper.phone'))")
        + php("Form::text('AS_PHONE', Input::old('AS_PHONE'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.newspaper.phone')))")
      .form-group
        + php("Form::label(trans('press.newspaper.website'))")
        + php("Form::text('AS_WWW', Input::old('AS_WWW'), array('required', 'class'=>'form-control', 'placeholder'=>trans('press.newspaper.website')))")

    fieldset
      legend @lang('press.actions.head')
      p
        strong @lang('press.actions.description')
      .box.jumbotron
        strong @lang('press.actions.notice')
      .form-group
        + php("Form::submit(trans('press.actions.submit', ['fair_name' => 'FAIR NAME']), array('class' => 'btn btn-primary'))")
        + php("Form::reset(trans('press.actions.reset'), array('class' => 'btn'))")

