include ../../partials/mixins
+extends('admin/partials/template')
+section('title')
  title @lang('admin.press-release.head')

+section('breadcrumbs')
  ol.breadcrumb
    li
      a(href='/admin/dashboard')
        i.fa.fa-dashboard
        | @lang('admin.dashboard.head')
    li.active
      | @lang('admin.press-release.head')
+section('inner-title')
  h1 @lang('admin.press-release.head')
    small @lang('admin.press-release.head')
+section('content')
  .row
    .col-xs-12
      .box
        .box-header
          h3.box-title @lang('admin.press-release.index.head')
          .box-tools
            .input-group(style='width:150 px;')
              form(action='',id='search-form')
                + php("Form::hidden('h-search-text', Input::old('h-search-text'), array('id'=>'h-search-text'))")
              + php("Form::text('search-text', Input::old('search-text'), array('id'=>'search-text', 'class'=>'form-control input-sm pull-right', 'placeholder'=>trans('admin.search.text')))")

              .input-group-btn
                button#press-search.btn.btn-sm.btn-default
                  i.fa.fa-search
        .box-body.table-responsive.no-padding
          table.table.table-hover
            tr
              th Titolo
              th Data inizio
              th Data fine
              th Stato
              th
            + foreach('$communications','$c')
              tr
                td {{$c->title}}
                td {{$c->com_inizio}}
                td {{$c->com_fine}}
                td
                  +if("$c->com_stato=='SI'")
                    span.label.label-success {{$c->com_stato}}
                    +else
                      span.label.label-warning {{$c->com_stato}}
                td
                  +php ('"<a href=\'/admin/press-release/$c->id/edit\'>"', '"</a>"')
                    span.glyphicon.glyphicon-edit
                  +php ('"<a href=\'/admin/press-release/$c->id\'>"', '"</a>"')
                    span.glyphicon.glyphicon-remove
      + php("$communications->render()")

