<VirtualHost *:80>

	ServerName    hub.okavango

	ErrorLog      /home/httpd/VeronaFiere/hub2/storage/logs/hub-error_log
	CustomLog     /home/httpd/VeronaFiere/hub2/storage/logs/hub-access_log logs4intesys

	DirectoryIndex index.php

	DocumentRoot	/home/httpd/VeronaFiere/hub2/public
	<Directory "/">
      Options FollowSymlinks
      DirectoryIndex index.php
      AllowOverride All
      Require all granted
	</Directory>

	Action php5-fcgi /php5-hub-server
	Alias /php5-hub-server /home/httpd/VeronaFiere/hub2/php5-hub-server
	FastCgiExternalServer /home/httpd/VeronaFiere/hub2/php5-hub-server -socket /var/run/php5-fpm-hub.sock -idle-timeout 250 -pass-header Authorization

</VirtualHost>