extends ../partials/template
block title
  title @lang('auth.login.title')

block content
  h1 @lang('auth.login.title')
  + php("Form::open(array('url' => 'auth/login', 'data-toggle' => 'validator', 'class' => 'form-horizontal hub-press', 'files' => true))", "Form::close()")
    fieldset
      legend @lang('auth.login.head')
      .form-group
        + php("Form::label('email', trans('auth.contact.email'), ['class' => 'control-label col-md-3'])")
        .col-md-9
          + php("Form::text('email', Input::old('email'), array('required', 'class'=>'form-control', 'placeholder'=>trans('auth.contact.email')))")
      .form-group
        + php("Form::label('password', trans('auth.contact.password'), ['class' => 'control-label col-md-3'])")
        .col-md-9
          + php("Form::password('password', array('required', 'class'=>'form-control'))")
      .form-group
        + php("Form::label('remember', trans('auth.contact.remember'), ['class' => 'control-label col-md-3'])")
        .col-md-9
          + php("Form::checkbox('remember', '1', array('class'=>'form-control'))")

    fieldset
      .form-group
        .col-md-3
        .col-md-9
          + if("env('APP_ENV') == 'testing'")
            + php("Form::submit('submit', array('class' => 'btn btn-primary', 'name' => 'submit'))")
          + php("Form::submit(trans('auth.actions.login'), array('class' => 'btn btn-primary', 'name' => 'submit'))")
          + php("Form::reset(trans('auth.actions.reset'), array('class' => 'btn'))")
          a(href='/password/email') @lang('auth.actions.forgot')
          a(href='/auth/register') @lang('auth.actions.new')