extends ../partials/template
block title
  title @lang('auth.password.title')

block content
  h1 @lang('auth.password.title')
  + php("Form::open(array('url' => 'password/email', 'data-toggle' => 'validator', 'class' => 'form-horizontal hub-press', 'files' => true))", "Form::close()")
    fieldset
      legend @lang('auth.password.head')
      .form-group
        + php("Form::label('email', trans('auth.contact.email'), ['class' => 'control-label col-md-3'])")
        .col-md-9
          + php("Form::text('email', Input::old('email'), array('required', 'class'=>'form-control', 'placeholder'=>trans('auth.contact.email')))")
    fieldset
      .form-group
        .col-md-3
        .col-md-9
          + if("env('APP_ENV') == 'testing'")
            + php("Form::submit('submit', array('class' => 'btn btn-primary', 'name' => 'submit'))")
          + php("Form::submit(trans('auth.actions.password'), array('class' => 'btn btn-primary', 'name' => 'submit'))")
          + php("Form::reset(trans('auth.actions.reset'), array('class' => 'btn'))")