script(src!='{{ URL::asset("bower_components/jquery/dist/jquery.min.js") }}', rel='javascript')
script(src!='{{ URL::asset("bower_components/bootstrap/dist/js/bootstrap.min.js") }}', rel='javascript')
script(src!='{{ URL::asset("bower_components/admin-lte/dist/js/app.min.js") }}', rel='javascript')

script(src!='{{ elixir("js/app.js") }}', rel='javascript', defer='defer')