include ../../partials/mixins
// Content Wrapper. Contains page content
div.content-wrapper
  section.content-header
    +yield('inner-title')
    +yield('breadcrumbs')
  section.content
    +yield('content')
