include ../../partials/mixins
//
  Main Footer
footer.main-footer
  div.pull-right.hidden-x Contenuto di esempio
  strong Copyright © 2015
    a(href='www.veronafiere.it') VeronaFiere
    | All rights reserved.