include ../../partials/mixins
header.main-header
  a.logo(href='/') Admin
  nav.navbar.navbar-static-top(role='navigation')
    // Sidebar toggle button
    a(href='#', data-toggle='offcanvas', role='button').sidebar-toggle
      span.sr-only Toggle navigation
    // Navbar Right Menu
    div.navbar-custom-menu
      ul.nav.navbar-nav
        +if("Session::has('messages')")
          li.dropdown.messages-menu
            a(href='#', data-toggle='dropdown').dropdown-toggle
              i.fa.fa-envelope-o
              span.label.label-success {{count(Session::get('messages'))}}
            ul.dropdown-menu
              li.header Hai {{count(Session::get('messages'))}} messaggi
              + foreach('Session::get("messages")','$msg')
                li
                  ul.menu
                    // messages
                    li
                      a(href='#')
                        i.fa.fa-users.text-aqua
                          | {{$msg}}
              li.footer
                a(href='#') Vedi tutti i messaggi
        +if("$errors->count() > 0")
          li.dropdown.notifications-menu
            a(href='#', data-toggle='dropdown').dropdown-toggle
              i.fa.fa-bell-o
              span.lavel.label-warning {{$errors->count()}}
            ul.dropdown-menu
              li.header Hai {{$errors->count()}} notifiche
              + foreach('$errors->all()','$error')
                li
                  ul.menu
                    // notifications
                    li
                      a(href='#')
                        i.fa.fa-users.text-aqua
                          | {{$error}}
              li.footer
                a(href='#') Vedi tutte le notifiche
        +if("Session::has('issues')")
          li.dropdown.tasks-menu
            a(href='#', data-toggle='dropdown').dropdown-toggle
              i.fa.fa-flag-o
              span.lavel.label-danger {{count(Session::get('issues'))}}
            ul.dropdown-menu
              li.header Hai {{count(Session::get('issues'))}} issue aperte
              + foreach('Session::get("issues")','$issue')
                li
                  ul.menu
                    // issues
                    li
                      a(href='#')
                        h3
                          | {{$issue->content}}
                          small.pull-right {{$issue->percentage}}%
              li.footer
                a(href='#') Vedi tutte le issues
        li.dropdown.user.user-menu
          a(href='#', data-toggle='dropdown').dropdown-toggle
            img(src="https://placehold.it/160x160", alt='User img').user-image
            span.hidden-xs Nome utente
          ul.dropdown-menu
            li.user-header
              img(src="https://placehold.it/160x160", alt='User img').user-image
              p Nome utente - web developer
              small membro da qua qua qua
            li.user-body
              div.col-xs4.text-center
                a(href='#')
                  TEST
            li.user-footer
              div.pull-left
                a(href='/admin/profile').btn.btn-default.btn-flat Profilo
              div.pull-right
                a(href='/auth/logout').btn.btn-default.btn-flat Logout
