include ../../partials/mixins
aside.main-sidebar
  // sidebar: style can be found in sidebar.less
  section.sidebar
    // Sidebar user panel (optional)
    .user-panel
      .pull-left.image
        img.img-circle(src='https://placehold.it/160x160', alt='User Image')
      .pull-left.info
        p {{ Auth::user()->name }}
        // Status
        a(href='#')
          i.fa.fa-circle.text-success
          |  Online
    // search form (Optional)
    form.sidebar-form(action='#', method='get')
      .input-group
        input.form-control(type='text', name='q', placeholder='Search...')
        span.input-group-btn
          button#search-btn.btn.btn-flat(type='submit', name='search')
            i.fa.fa-search
    // /.search form
    // Sidebar Menu
    ul.sidebar-menu
      li.header HEADER
      // Optionally, you can add icons to the links
      li(class!="{{ (!isset($table)) ? 'active' : '' }}")
        a(href='#')
          span Dashboard
      li(class!="{{ (isset($table) && $table->controller == 'UserController') ? 'active' : '' }}")
        a(href="{{ action('UserController@index') }}")
          span Utenti
      li(class!="{{ (isset($table) && $table->controller == 'ContextController') ? 'active' : '' }}")
        a(href="{{ action('ContextController@index') }}")
          span Fiere
      li(class!="{{ (isset($table) && $table->controller == 'LanguagesController') ? 'active' : '' }}")
        a(href="{{ action('LanguagesController@index') }}")
          span Lingue
      li(class!="{{ (isset($table) && $table->controller == 'CategoriesController') ? 'active' : '' }}")
        a(href="{{ action('CategoriesController@index') }}")
          span Categorie
      li(class!="{{ (isset($table) && $table->controller == 'ContentController') ? 'active' : '' }}")
        a(href="{{ action('ContentController@index') }}")
          span Content Generico
      li.treeview
        a(href='#')
          span Comunicati Stampa
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(href="{{ action('PressReleaseController@index') }}") Comunicati

    // /.sidebar-menu
  // /.sidebar