//- templade.jade
include ../../partials/mixins
doctype html
html
  +include('admin.partials.admin-header')
  body.skin-blue
    div.wrapper
      +include('admin.partials.header')
      +include('admin.partials.sidebar')
      +include('admin.partials.content')
      +include('admin.partials.footer')
    +include('admin.partials.admin-footer')
