head
  script(src!='{{ URL::asset("js/jquery/jquery.js") }}', rel='javascript')
  script(src!='{{ URL::asset("js/bootstrap/bootstrap.js") }}', rel='javascript')
  script(src!='{{ URL::asset("js/bootstrap/bootstrap/validator.js") }}', rel='javascript')
  link(href!='{{ URL::asset("css/app.css") }}', rel='stylesheet')
  script(src!='{{ URL::asset("js/app.js") }}', rel='javascript', defer='defer')
  block title
    title VeronaFiere

